
@{
    ViewData["Title"] = "WishList";
}

<!-- breadcum start -->
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-content-center gap-2">
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 20px; color: #67bccd"> <i class="las la-home"></i></a>
                    <span style="font-size: 14px; color: #67bccd"><i class="las la-chevron-right"></i></span>
                    <p class="mb-0" style="font-size: 16px;">Wish List</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcum start end-->

<div class="wishlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <!-- single wishlist -->
                <div class="singl_wishlist">

                    <!-- cart image -->
                    <div class="cart_img"><img loading="lazy" src="~/images/products/product-9.jpg" alt="product"></div>
                   
                    <!-- cart content -->
                    <div class="cart_cont">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView"><h5>Robot vacuum cleaner</h5></a>
                        <p class="instock">Availablity: <span>In Stock</span></p>
                    </div>

                    <!-- cart price -->
                    <div class="cart_price"><p>$570.95</p></div>

                    <!-- ass to cart button-->
                    <div class="wish_cart_button">
                        @* <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart" class="default_btn1">
                            <span class="icon">
                                <i class="cart_icon las la-cart-arrow-down" ></i>
                            </span>
                        </a> *@
                        <button class="defoult_btn1">
                            <span class="icon">
                                <i class="cart_icon las la-cart-arrow-down"></i>
                            </span>
                        </button>
                    </div>

                    <!-- cart remove icon-->
                    <div class="cart_remove"><i class="las la-trash"></i></div>
                </div>

                
                <!-- single wishlist -->
                <div class="singl_wishlist">

                    <!-- cart image -->
                    <div class="cart_img"><img loading="lazy" src="~/images/products/product-9.jpg" alt="product"></div>

                    <!-- cart content -->
                    <div class="cart_cont">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView"><h5>Robot vacuum cleaner</h5></a>
                        <p class="instock">Availablity: <span>In Stock</span></p>
                    </div>

                    <!-- cart price -->
                    <div class="cart_price"><p>$570.95</p></div>

                    <!-- add to cart button-->
                    <div class="wish_cart_button">
                        @* <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart" class="default_btn1">
                        <span class="icon">
                        <i class="cart_icon las la-cart-arrow-down" ></i>
                        </span>
                        </a> *@
                        <button class="defoult_btn1">
                            <span class="icon">
                                <i class="cart_icon las la-cart-arrow-down"></i>
                            </span>
                        </button>
                    </div>

                    <!-- cart remove icon-->
                    <div class="cart_remove"><i class="las la-trash"></i></div>
                </div>

                <!-- single wishlist -->
                <div class="singl_wishlist">

                    <!-- cart image -->
                    <div class="cart_img"><img loading="lazy" src="~/images/products/product-9.jpg" alt="product"></div>

                    <!-- cart content -->
                    <div class="cart_cont">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView"><h5>Robot vacuum cleaner</h5></a>
                        <p class="instock">Availablity: <span>In Stock</span></p>
                    </div>

                    <!-- cart price -->
                    <div class="cart_price"><p>$570.95</p></div>

                    <!-- add to cart button-->
                    <div class="wish_cart_button">
                        @* <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart" class="default_btn1">
                        <span class="icon">
                        <i class="cart_icon las la-cart-arrow-down" ></i>
                        </span>
                        </a> *@
                        <button class="defoult_btn1">
                            <span class="icon">
                                <i class="cart_icon las la-cart-arrow-down"></i>
                            </span>
                        </button>
                    </div>

                    <!-- cart remove icon-->
                    <div class="cart_remove"><i class="las la-trash"></i></div>
                </div>

                <!-- single wishlist -->
                <div class="singl_wishlist">

                    <!-- cart image -->
                    <div class="cart_img"><img loading="lazy" src="~/images/products/product-9.jpg" alt="product"></div>

                    <!-- cart content -->
                    <div class="cart_cont">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView"><h5>Robot vacuum cleaner</h5></a>
                        <p class="instock">Availablity: <span>In Stock</span></p>
                    </div>

                    <!-- cart price -->
                    <div class="cart_price"><p>$570.95</p></div>

                    <!-- add to cart button-->
                    <div class="wish_cart_button">
                        @* <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart" class="default_btn1">
                        <span class="icon">
                        <i class="cart_icon las la-cart-arrow-down" ></i>
                        </span>
                        </a> *@
                        <button class="defoult_btn1">
                            <span class="icon">
                                <i class="cart_icon las la-cart-arrow-down"></i>
                            </span>
                        </button>
                    </div>

                    <!-- cart remove icon-->
                    <div class="cart_remove"><i class="las la-trash"></i></div>
                </div>

            </div>
        </div>
    </div>
</div>